body {
  background-color: grey;
  padding: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homepage-container {
  padding: 16px;
  border-radius: 20px;
  min-height: 90vh;
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
}
.header {
  text-align: center;
} 

.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 8px;
  border: none;
  min-width: 50px;
  border-radius: 50px;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: #EEE; 
  padding: 8px;
  border-radius: 5px; 
  margin-top:5px;
  margin-bottom: 5px;
  transition: background-color 2s;
}

.field:hover{
  filter:brightness(0.8);
}

.button:hover {
  filter:brightness(0.8);
}

.button:active {
  filter:brightness(0.5);
}

.danger {
  background-color: #EB5348;
}

.success {
  background-color: #3FE081;
}

.edit {
  background-color:#3C34E6;
}

.loader{
  width: 100%;
  height: 300px;
  padding:0;
  display:flex;
  justify-content:center;
  align-items:center;
}

.loader-circle{
  width:15px;
  height:15px;
  background-color:grey;
  margin:1.5px;
  border-radius:50px;
  animation:fade 0.8s alternate infinite;
}

.loader-circle:nth-of-type(2){
  animation-delay:0.25s;
}

.loader-circle:nth-of-type(3){
  animation-delay:0.5s;
}

.loader-circle:nth-of-type(4){
  animation-delay:0.75s;
}

.loader-circle:nth-of-type(5){
  animation-delay:1s;
}

@keyframes fade{
  0%{opacity:0;}
  50%{opacity:0;}
  100%{opacity:1;}
}